Repository EspressoSystems/HotShot, changes with the owners that CODEOWNERS names for each.
All owners: @bfish713, @shenkeyao, @dailinsubjam, @rob-maron, @elliedavidson, @jparr721, @ss-es

CODEOWNERS:

# Default owners and repository maintainers:
* @bfish713

# Owner of `constants` crate
/constants/ @shenkeyao

# Owner of `hotshot` crate
/hotshot/ @shenkeyao

# Owner of `hotshot-qc` crate
/hotshot-qc/ @dailinsubjam

# Owner of `hotshot-stake-table` crate
/hotshot-stake-table/ @dailinsubjam

# Owner of `hotshot-state-prover` crate
/hotshot-state-prover/ @dailinsubjam

# Owner of `libp2p-networking` crate
/libp2p-networking/ @rob-maron 

# Owner of `orchestrator` crate
/orchestrator/ @rob-maron @elliedavidson

# Owner of `task` crate
/task/ @rob-maron 

# Owner of `task-impls` crate
/task-impls/  @bfish713 @jparr721 @shenkeyao

# Owner of `testing` crate
/testing/  @bfish713

# Owner of `types` crate
/types/ @shenkeyao

# Owner of `utils` crate
/utils/ @shenkeyao

# Owner of `web_server` crate
/web_server/ @elliedavidson

# Owner of updating dependencies
# This owner is updated on a monthly basis
*.lock @ss-es
**/Cargo.toml @ss-es
Cargo.toml @ss-es
flake.nix @ss-es

remove bid_fee from PackedBundle
  crates/task-impls/src/transactions.rs
  crates/testing/tests/tests_1/da_task.rs
  crates/testing/tests/tests_1/vid_task.rs
  crates/types/src/bundle.rs
  crates/types/src/data.rs
Owners: @bfish713

rustfmt
  crates/testing/tests/tests_1/libp2p.rs
  crates/testing/tests/tests_1/quorum_proposal_recv_task.rs
  crates/testing/tests/tests_1/quorum_vote_task.rs
  crates/testing/tests/tests_1/upgrade_task_with_vote.rs
  crates/testing/tests/tests_3/memory_network.rs
  crates/testing/tests/tests_5/fake_solver.rs
  crates/testing/tests/tests_5/timeout.rs
Owners: @bfish713

remove extra Bundle
  crates/task-impls/src/transactions.rs
Owners: @bfish713

Bump verison
  Cargo.lock
  Cargo.toml
Owners: @ss-es

add byzantine test for sending multiple bad proposals
  crates/hotshot/src/tasks/mod.rs
  crates/testing/tests/tests_1/test_success.rs
Owners: @bfish713

set num_failed_views = 1
  crates/testing/tests/tests_1/test_success.rs
Owners: @bfish713

Add `Bundle` struct and request bundles in transaction task (#3472)
  Cargo.lock
  crates/hotshot/src/tasks/task_state.rs
  crates/task-impls/src/transactions.rs
  crates/testing/tests/tests_1/da_task.rs
  crates/testing/tests/tests_1/libp2p.rs
  crates/testing/tests/tests_1/quorum_proposal_recv_task.rs
  crates/testing/tests/tests_1/quorum_vote_task.rs
  crates/testing/tests/tests_1/upgrade_task_with_vote.rs
  crates/testing/tests/tests_1/vid_task.rs
  crates/testing/tests/tests_3/memory_network.rs
  crates/testing/tests/tests_5/fake_solver.rs
  crates/testing/tests/tests_5/timeout.rs
  crates/types/Cargo.toml
  crates/types/src/bundle.rs
  crates/types/src/constants.rs
  crates/types/src/data.rs
  crates/types/src/lib.rs
  crates/types/src/traits/auction_results_provider.rs
  crates/types/src/traits/block_contents.rs
Owners: @ss-es, @bfish713

Add AuctionResult associated type to BlockHeader
  crates/example-types/src/block_types.rs
  crates/types/src/traits/block_contents.rs
Owners: @bfish713

Change AuctionResults to AuctionResult
  crates/example-types/src/block_types.rs
  crates/types/src/traits/block_contents.rs
Owners: @bfish713

adjust libp2p
  crates/libp2p-networking/src/network/node.rs
Owners: @bfish713

Add AuctionResult associated type to BlockHeader (#3488)
  crates/example-types/src/block_types.rs
  crates/types/src/traits/block_contents.rs
Owners: @bfish713

Builder API adjustments
  crates/builder-api/api/v0_3/builder.toml
  crates/builder-api/src/v0_3/block_info.rs
  crates/builder-api/src/v0_3/builder.rs
  crates/builder-api/src/v0_3/data_source.rs
  crates/builder-api/src/v0_3/mod.rs
  crates/task-impls/src/builder.rs
  crates/task-impls/src/transactions.rs
  crates/types/src/bundle.rs
  crates/types/src/traits/auction_results_provider.rs
Owners: @bfish713

adjust libp2p (#3489)
  crates/libp2p-networking/src/network/node.rs
Owners: @bfish713

Split validation
  crates/libp2p-networking/src/network/node/config.rs
  crates/task-impls/src/consensus/handlers.rs
  crates/task-impls/src/consensus/mod.rs
  crates/task-impls/src/events.rs
  crates/task-impls/src/helpers.rs
  crates/task-impls/src/quorum_proposal/mod.rs
  crates/task-impls/src/quorum_proposal_recv/handlers.rs
  crates/task-impls/src/quorum_proposal_recv/mod.rs
  crates/task-impls/src/quorum_vote/mod.rs
Owners: @bfish713

Remove byzantine code for now
  crates/task-impls/src/consensus/mod.rs
  crates/task-impls/src/quorum_proposal_recv/mod.rs
Owners: @bfish713

work on fix where we may skip a block if leader two views in a row
  crates/example-types/src/node_types.rs
  crates/hotshot/src/traits/election.rs
  crates/hotshot/src/traits/election/static_committee_leader_two_views.rs
  crates/task-impls/src/transactions.rs
  crates/testing/tests/tests_1/trasnsaction_task.rs
Owners: @bfish713

add parameterization for build_system_handle so that we can choose which NodeTypes we use
  crates/example-types/src/node_types.rs
  crates/hotshot/src/traits/election/static_committee_leader_two_views.rs
  crates/testing/src/helpers.rs
  crates/testing/tests/tests_1/consensus_task.rs
  crates/testing/tests/tests_1/da_task.rs
  crates/testing/tests/tests_1/quorum_proposal_recv_task.rs
  crates/testing/tests/tests_1/quorum_proposal_task.rs
  crates/testing/tests/tests_1/quorum_vote_task.rs
  crates/testing/tests/tests_1/transaction_task.rs
  crates/testing/tests/tests_1/upgrade_task_with_consensus.rs
  crates/testing/tests/tests_1/upgrade_task_with_proposal.rs
  crates/testing/tests/tests_1/upgrade_task_with_vote.rs
  crates/testing/tests/tests_1/vid_task.rs
  crates/testing/tests/tests_1/view_sync_task.rs
Owners: @bfish713

run linter
  crates/example-types/src/node_types.rs
  crates/hotshot/src/traits/election/static_committee_leader_two_views.rs
  crates/testing/src/helpers.rs
Owners: @bfish713

remove topic map
  Cargo.lock
  crates/hotshot/src/traits/networking/libp2p_network.rs
Owners: @ss-es, @bfish713

Builder API adjustments (#3493)
  crates/builder-api/api/v0_3/builder.toml
  crates/builder-api/src/v0_3/block_info.rs
  crates/builder-api/src/v0_3/builder.rs
  crates/builder-api/src/v0_3/data_source.rs
  crates/builder-api/src/v0_3/mod.rs
  crates/task-impls/src/builder.rs
  crates/task-impls/src/transactions.rs
  crates/types/src/bundle.rs
  crates/types/src/traits/auction_results_provider.rs
Owners: @bfish713

Adjust tests
  crates/testing/tests/tests_1/quorum_proposal_recv_task.rs
  crates/testing/tests/tests_1/quorum_proposal_task.rs
  crates/testing/tests/tests_1/upgrade_task_with_proposal.rs
Owners: @bfish713

Bump version
  Cargo.lock
  Cargo.toml
Owners: @ss-es

fix log
  crates/task-impls/src/upgrade.rs
Owners: @bfish713

remove skip log, add warn log for proposing upgrade
  crates/task-impls/src/upgrade.rs
Owners: @bfish713

Fix one more test
  crates/testing/tests/tests_1/quorum_proposal_recv_task.rs
Owners: @bfish713

address comments
  crates/hotshot/src/traits/election/static_committee_leader_two_views.rs
  crates/task-impls/src/transactions.rs
  crates/testing/tests/tests_1/transaction_task.rs
Owners: @bfish713

fix double reference
  crates/task-impls/src/transactions.rs
Owners: @bfish713

Remove log for skipping upgrade proposal (#3498)
  crates/task-impls/src/upgrade.rs
Owners: @bfish713

cleanup
  crates/testing/src/helpers.rs
  crates/testing/tests/tests_1/transaction_task.rs
Owners: @bfish713

Change the broadcast event indiciating correclty the High QC has been updated
  crates/task-impls/src/quorum_proposal_recv/handlers.rs
  crates/testing/tests/tests_1/quorum_proposal_recv_task.rs
Owners: @bfish713

A
  crates/example-types/src/block_types.rs
  crates/examples/infra/mod.rs
  crates/testing/src/block_builder/simple.rs
  crates/types/src/traits/block_contents.rs
Owners: @bfish713

s
  crates/examples/infra/mod.rs
  crates/orchestrator/run-config.toml
  crates/testing/src/block_builder/mod.rs
  crates/testing/src/block_builder/random.rs
  crates/testing/src/block_builder/simple.rs
  crates/testing/src/test_runner.rs
  scripts/benchmark_scripts/aws_ecs_benchmarks_cdn.sh
Owners: @bfish713

chore: correction typo in CHANGELOG.md
  CHANGELOG.md
Owners: @bfish713

chore: correction typo README.md
  crates/task-impls/README.md
Owners: @bfish713

chore: correction typo in QuorumProposalRecv.md
  docs/diagrams/event_discriptions/QuorumProposalRecv.md
Owners: @bfish713

s
  crates/testing/src/block_builder/simple.rs
  scripts/benchmark_scripts/aws_ecs_benchmarks_cdn.sh
Owners: @bfish713

s
  scripts/benchmark_scripts/aws_ecs_benchmarks_cdn.sh
Owners: @bfish713

s
  scripts/benchmark_scripts/aws_ecs_benchmarks_cdn.sh
Owners: @bfish713

d
  scripts/benchmark_scripts/aws_ecs_benchmarks_cdn.sh
Owners: @bfish713

d
  scripts/benchmark_scripts/aws_ecs_benchmarks_cdn.sh
Owners: @bfish713
