Repository EspressoSystems/HotShot, changes with the owners that CODEOWNERS names for each.
All owners: @bfish713, @shenkeyao, @dailinsubjam, @rob-maron, @elliedavidson, @jparr721, @ss-es

CODEOWNERS:

# Default owners and repository maintainers:
* @bfish713

# Owner of `constants` crate
/constants/ @shenkeyao

# Owner of `hotshot` crate
/hotshot/ @shenkeyao

# Owner of `hotshot-qc` crate
/hotshot-qc/ @dailinsubjam

# Owner of `hotshot-stake-table` crate
/hotshot-stake-table/ @dailinsubjam

# Owner of `hotshot-state-prover` crate
/hotshot-state-prover/ @dailinsubjam

# Owner of `libp2p-networking` crate
/libp2p-networking/ @rob-maron 

# Owner of `orchestrator` crate
/orchestrator/ @rob-maron @elliedavidson

# Owner of `task` crate
/task/ @rob-maron 

# Owner of `task-impls` crate
/task-impls/  @bfish713 @jparr721 @shenkeyao

# Owner of `testing` crate
/testing/  @bfish713

# Owner of `types` crate
/types/ @shenkeyao

# Owner of `utils` crate
/utils/ @shenkeyao

# Owner of `web_server` crate
/web_server/ @elliedavidson

# Owner of updating dependencies
# This owner is updated on a monthly basis
*.lock @ss-es
**/Cargo.toml @ss-es
Cargo.toml @ss-es
flake.nix @ss-es

Byzantine test for spamming bad proposals (#3486)
  crates/hotshot/src/tasks/mod.rs
  crates/testing/tests/tests_1/test_success.rs
Owners: @bfish713

deploy: 469717d46fee9ed75ec3511c08fe6dbb454bc34d
  help.html
  hotshot/all.html
  hotshot/tasks/fn.add_network_tasks.html
  hotshot/tasks/index.html
  hotshot/tasks/sidebar-items.js
  hotshot/tasks/struct.BadProposalViewDos.html
  hotshot/tasks/struct.DoubleProposeVote.html
  hotshot/tasks/trait.EventTransformerState.html
  orchestrator_combined/infra/fn.generate_transactions.html
  orchestrator_combined/infra/fn.initialize_builder.html
  orchestrator_combined/infra/fn.main_entry_point.html
  orchestrator_combined/infra/struct.CombinedDaRun.html
  orchestrator_combined/infra/struct.Libp2pDaRun.html
  orchestrator_combined/infra/trait.RunDa.html
  orchestrator_combined/types/struct.NodeImpl.html
  orchestrator_combined/types/type.Network.html
  orchestrator_combined/types/type.ThisRun.html
  search-index.js
  settings.html
  src/hotshot/tasks/mod.rs.html
  trait.impl/core/fmt/trait.Debug.js
  trait.impl/core/marker/trait.Freeze.js
  trait.impl/core/marker/trait.Send.js
  trait.impl/core/marker/trait.Sync.js
  trait.impl/core/marker/trait.Unpin.js
  trait.impl/core/panic/unwind_safe/trait.RefUnwindSafe.js
  trait.impl/core/panic/unwind_safe/trait.UnwindSafe.js
  trait.impl/hotshot_types/traits/node_implementation/trait.NodeImplementation.js
  type.impl/orchestrator_combined/infra/struct.CombinedDaRun.js
Owners: @bfish713, @shenkeyao

remove log, full replication factor
  crates/hotshot/src/traits/networking/libp2p_network.rs
  crates/task-impls/src/response.rs
Owners: @bfish713

Update multiplicity
  crates/types/src/vid.rs
Owners: @bfish713

Update multiplicity
  crates/types/src/vid.rs
Owners: @bfish713

bench adj
  crates/orchestrator/src/lib.rs
  crates/task-impls/src/consensus/view_change.rs
  crates/task-impls/src/helpers.rs
  scripts/benchmarks_results/results_upload.csv
Owners: @bfish713

Update multiplicity
  scripts/benchmark_scripts/aws_ecs_benchmarks_cdn_gpu.sh
Owners: @bfish713

Update multiplicity
  scripts/benchmark_scripts/aws_ecs_benchmarks_cdn_gpu.sh
Owners: @bfish713

Reset libp2p info after restarting
  crates/hotshot/src/traits/networking/libp2p_network.rs
  crates/testing/src/spinning_task.rs
  crates/testing/src/test_runner.rs
Owners: @bfish713

lint
  crates/hotshot/src/traits/networking/libp2p_network.rs
Owners: @bfish713

fmt
  crates/hotshot/src/traits/networking/libp2p_network.rs
Owners: @bfish713

remove debug error logs
  crates/task-impls/src/helpers.rs
Owners: @bfish713

new script
  scripts/benchmark_scripts/aws_ecs_benchmarks_cdn_gpu.sh
Owners: @bfish713

remove duplicate code
  crates/hotshot/src/lib.rs
Owners: @bfish713

new script
  scripts/benchmark_scripts/aws_ecs_benchmarks_cdn_gpu.sh
Owners: @bfish713

add functionality to fail out if we fail unexpected view
  crates/testing/src/consistency_task.rs
  crates/testing/src/overall_safety_task.rs
  crates/testing/src/test_builder.rs
  crates/testing/tests/tests_1/test_with_failures_2.rs
Owners: @bfish713

add a test case where we have dishonest leader
  crates/hotshot/src/tasks/mod.rs
  crates/testing/tests/tests_1/test_with_failures_2.rs
Owners: @bfish713

new script
  scripts/benchmark_scripts/aws_ecs_benchmarks_cdn_gpu.sh
Owners: @bfish713

Add timestamp
  Cargo.lock
  crates/example-types/Cargo.toml
  crates/example-types/src/block_types.rs
  crates/orchestrator/run-config.toml
  crates/testing/src/block_builder/simple.rs
Owners: @ss-es, @bfish713

A certificate includes a whole vote, including the view
  crates/task-impls/src/consensus/handlers.rs
  crates/task-impls/src/consensus/mod.rs
  crates/task-impls/src/consensus2/handlers.rs
  crates/task-impls/src/da.rs
  crates/task-impls/src/helpers.rs
  crates/task-impls/src/network.rs
  crates/task-impls/src/quorum_proposal/mod.rs
  crates/task-impls/src/quorum_proposal_recv/handlers.rs
  crates/task-impls/src/quorum_vote/mod.rs
  crates/task-impls/src/upgrade.rs
  crates/task-impls/src/view_sync.rs
  crates/task-impls/src/vote_collection.rs
  crates/testing/src/consistency_task.rs
  crates/testing/src/helpers.rs
  crates/testing/src/view_generator.rs
  crates/testing/tests/tests_1/consensus_task.rs
  crates/testing/tests/tests_1/message.rs
  crates/testing/tests/tests_1/view_sync_task.rs
  crates/types/src/data.rs
  crates/types/src/simple_certificate.rs
  crates/types/src/simple_vote.rs
  crates/types/src/vote.rs
Owners: @bfish713

update multiplicity for 100 nodes
  crates/types/src/vid.rs
Owners: @bfish713

cleanup, use last validated proposal
  crates/hotshot/src/tasks/mod.rs
  crates/testing/src/overall_safety_task.rs
  crates/testing/tests/tests_1/test_with_failures_2.rs
Owners: @bfish713

Update multiplicity
  crates/types/src/vid.rs
Owners: @bfish713

Update multiplicity
  crates/types/src/vid.rs
Owners: @bfish713

correction of typos and ordering of variables
  crates/task-impls/src/quorum_proposal/handlers.rs
  crates/task-impls/src/quorum_vote/mod.rs
Owners: @bfish713

add a view lookback when getting the QC
  crates/hotshot/src/tasks/mod.rs
  crates/testing/tests/tests_1/test_with_failures_2.rs
Owners: @bfish713

correction of typo
  crates/task-impls/src/quorum_proposal/handlers.rs
Owners: @bfish713

4
  crates/types/src/vid.rs
Owners: @bfish713

64
  crates/types/src/vid.rs
Owners: @bfish713

512
  crates/types/src/vid.rs
Owners: @bfish713

correction of various typos
  crates/task-impls/src/events.rs
  crates/task-impls/src/lib.rs
  crates/task-impls/src/quorum_proposal/mod.rs
  crates/task-impls/src/request.rs
  crates/task-impls/src/response.rs
  crates/task-impls/src/transactions.rs
  crates/task-impls/src/upgrade.rs
  crates/task-impls/src/vote_collection.rs
Owners: @bfish713

superfluous code
  crates/task-impls/src/vid.rs
Owners: @bfish713

`is_valid_cert` correctly validates the certificate
  crates/task-impls/src/consensus/handlers.rs
  crates/task-impls/src/consensus/mod.rs
  crates/task-impls/src/helpers.rs
  crates/task-impls/src/quorum_proposal/handlers.rs
  crates/task-impls/src/quorum_proposal/mod.rs
  crates/task-impls/src/quorum_proposal_recv/handlers.rs
  crates/task-impls/src/quorum_vote/mod.rs
  crates/testing/src/consistency_task.rs
  crates/testing/src/helpers.rs
  crates/testing/tests/tests_1/consensus_task.rs
  crates/testing/tests/tests_1/message.rs
  crates/types/src/consensus.rs
  crates/types/src/data.rs
  crates/types/src/message.rs
  crates/types/src/simple_certificate.rs
  crates/types/src/vote.rs
Owners: @bfish713

review comments
  crates/example-types/src/storage_types.rs
  crates/hotshot/src/traits/networking/libp2p_network.rs
  crates/testing/src/spinning_task.rs
  crates/testing/tests/tests_2/catchup.rs
Owners: @bfish713

Update run script
  scripts/benchmark_scripts/aws_ecs_benchmarks_cdn_gpu.sh
Owners: @bfish713

Remove builder_clients_marketplace from txn task
  crates/hotshot/src/tasks/task_state.rs
  crates/task-impls/src/transactions.rs
Owners: @bfish713

Remove builder_clients_marketplace from txn task (#3527)
  crates/hotshot/src/tasks/task_state.rs
  crates/task-impls/src/transactions.rs
Owners: @bfish713

wip
  crates/task-impls/src/quorum_proposal/mod.rs
  crates/testing/tests/tests_1/test_success.rs
Owners: @bfish713

feedback
  Cargo.lock
  crates/testing/Cargo.toml
  crates/testing/tests/tests_1/vote_dependency_handle.rs
Owners: @ss-es, @bfish713

deploy: 9fe6b467b548ceb5451de458888c352a0e33649f
  hotshot/tasks/task_state/index.html
  hotshot/tasks/task_state/trait.CreateTaskState.html
  hotshot_task_impls/transactions/index.html
  hotshot_task_impls/transactions/struct.TransactionTaskState.html
  search-index.js
  src/hotshot/tasks/task_state.rs.html
  src/hotshot_task_impls/transactions.rs.html
  type.impl/hotshot_task_impls/consensus/struct.ConsensusTaskState.js
Owners: @shenkeyao, @bfish713
