Repository EspressoSystems/HotShot, changes with the owners that CODEOWNERS names for each.
All owners: @elliedavidson, @bfish713, @shenkeyao, @dailinsubjam, @rob-maron, @DieracDelta, @ss-es

CODEOWNERS:

# Default owners and repository maintainers: 
* @elliedavidson @bfish713

# Owner of `constants` crate
/constants/ @shenkeyao

# Owner of `hotshot` crate
/hotshot/ @shenkeyao

# Owner of `hotshot-qc` crate
/hotshot-qc/ @dailinsubjam

# Owner of `hotshot-stake-table` crate
/hotshot-stake-table/ @dailinsubjam

# Owner of `hotshot-state-prover` crate
/hotshot-state-prover/ @dailinsubjam

# Owner of `libp2p-networking` crate
/libp2p-networking/ @rob-maron @DieracDelta 

# Owner of `orchestrator` crate
/orchestrator/ @rob-maron @elliedavidson 

# Owner of `task` crate
/task/ @rob-maron @DieracDelta 

# Owner of `task-impls` crate
/task-impls/ @elliedavidson @bfish713

# Owner of `testing` crate
/testing/ @DieracDelta @bfish713

# Owner of `types` crate
/types/ @shenkeyao

# Owner of `utils` crate
/utils/ @shenkeyao

# Owner of `web_server` crate
/web_server/ @elliedavidson

# Owner of updating dependencies
# This owner is updated on a monthly basis
*.lock @ss-es
**/Cargo.toml @ss-es
Cargo.toml @ss-es
flake.nix @ss-es

remove comment
  crates/testing-macros/Cargo.toml
Owners: @ss-es

update push CDN (#2882)
  Cargo.lock
  Cargo.toml
  crates/examples/infra/mod.rs
  crates/hotshot/src/traits/networking/combined_network.rs
  crates/hotshot/src/traits/networking/libp2p_network.rs
  crates/hotshot/src/traits/networking/memory_network.rs
  crates/hotshot/src/traits/networking/push_cdn_network.rs
  crates/hotshot/src/traits/networking/web_server_network.rs
  crates/types/src/traits/network.rs
Owners: @ss-es, @elliedavidson, @bfish713

update the CDN
  Cargo.lock
  Cargo.toml
Owners: @ss-es

run audit on PR
  .github/workflows/audit.yml
Owners: @elliedavidson, @bfish713

update the CDN (#2896)
  Cargo.lock
  Cargo.toml
Owners: @ss-es

update h2
  Cargo.lock
Owners: @ss-es

Run audit on PR (#2897)
  .github/workflows/audit.yml
  Cargo.lock
Owners: @elliedavidson, @bfish713, @ss-es

fix spinning
  crates/task-impls/src/consensus.rs
  crates/task-impls/src/quorum_proposal.rs
Owners: @elliedavidson, @bfish713

wip
  crates/task-impls/src/consensus.rs
  crates/testing/tests/tests_1/upgrade_task.rs
  crates/types/src/consensus.rs
  crates/types/src/simple_vote.rs
Owners: @elliedavidson, @bfish713
