Repository EspressoSystems/HotShot, changes with the owners that CODEOWNERS names for each.
All owners: @bfish713, @shenkeyao, @dailinsubjam, @rob-maron, @elliedavidson, @jparr721, @ss-es

CODEOWNERS:

# Default owners and repository maintainers:
* @bfish713

# Owner of `constants` crate
/constants/ @shenkeyao

# Owner of `hotshot` crate
/hotshot/ @shenkeyao

# Owner of `hotshot-qc` crate
/hotshot-qc/ @dailinsubjam

# Owner of `hotshot-stake-table` crate
/hotshot-stake-table/ @dailinsubjam

# Owner of `hotshot-state-prover` crate
/hotshot-state-prover/ @dailinsubjam

# Owner of `libp2p-networking` crate
/libp2p-networking/ @rob-maron 

# Owner of `orchestrator` crate
/orchestrator/ @rob-maron @elliedavidson

# Owner of `task` crate
/task/ @rob-maron 

# Owner of `task-impls` crate
/task-impls/  @bfish713 @jparr721 @shenkeyao

# Owner of `testing` crate
/testing/  @bfish713

# Owner of `types` crate
/types/ @shenkeyao

# Owner of `utils` crate
/utils/ @shenkeyao

# Owner of `web_server` crate
/web_server/ @elliedavidson

# Owner of updating dependencies
# This owner is updated on a monthly basis
*.lock @ss-es
**/Cargo.toml @ss-es
Cargo.toml @ss-es
flake.nix @ss-es

Time VID share verify
  crates/types/src/vid.rs
Owners: @bfish713

add MarketplaceConfig
  Cargo.lock
  crates/examples/Cargo.toml
  crates/examples/infra/mod.rs
  crates/hotshot/Cargo.toml
  crates/hotshot/src/lib.rs
  crates/hotshot/src/tasks/mod.rs
  crates/hotshot/src/tasks/task_state.rs
  crates/task-impls/Cargo.toml
  crates/task-impls/src/transactions.rs
  crates/testing/src/helpers.rs
  crates/testing/src/spinning_task.rs
  crates/testing/src/test_builder.rs
  crates/testing/src/test_launcher.rs
  crates/testing/src/test_runner.rs
  crates/testing/tests/tests_1/transaction_task.rs
Owners: @ss-es, @bfish713

More timing
  crates/task-impls/src/da.rs
Owners: @bfish713

More timing
  scripts/benchmark_scripts/aws_ecs_benchmarks_cdn_gpu.sh
Owners: @bfish713

fix
  crates/examples/infra/mod.rs
  crates/testing/src/test_builder.rs
Owners: @bfish713

1
  crates/types/src/vid.rs
Owners: @bfish713

update script
  scripts/benchmark_scripts/aws_ecs_benchmarks_cdn_gpu.sh
Owners: @bfish713

Remove unused import
  crates/task-impls/src/vid.rs
Owners: @bfish713

Fix some comments
  .gitignore
  crates/hotshot/src/lib.rs
  crates/testing/src/spinning_task.rs
  crates/testing/tests/tests_2/catchup.rs
Owners: @bfish713

Update average view time
  crates/example-types/src/block_types.rs
  crates/examples/infra/mod.rs
  crates/orchestrator/src/client.rs
  crates/orchestrator/src/lib.rs
Owners: @bfish713

address comments
  crates/hotshot/src/tasks/mod.rs
  crates/testing/src/overall_safety_task.rs
Owners: @bfish713

[CATCHUP] Test all nodes restarting (#3454)
  crates/example-types/src/storage_types.rs
  crates/hotshot/src/lib.rs
  crates/hotshot/src/traits/networking/libp2p_network.rs
  crates/hotshot/src/types/handle.rs
  crates/libp2p-networking/src/network/behaviours/direct_message.rs
  crates/libp2p-networking/src/network/node.rs
  crates/task-impls/src/consensus/handlers.rs
  crates/task-impls/src/helpers.rs
  crates/task-impls/src/quorum_proposal/handlers.rs
  crates/task-impls/src/quorum_proposal_recv/mod.rs
  crates/task-impls/src/request.rs
  crates/testing/src/spinning_task.rs
  crates/testing/src/test_runner.rs
  crates/testing/tests/tests_2/catchup.rs
Owners: @bfish713

a
  crates/example-types/src/block_types.rs
  crates/orchestrator/src/client.rs
Owners: @bfish713

a
  scripts/benchmark_scripts/aws_ecs_benchmarks_cdn_gpu.sh
Owners: @bfish713

a
  scripts/benchmark_scripts/aws_ecs_benchmarks_cdn_gpu.sh
Owners: @bfish713

a
  scripts/benchmark_scripts/aws_ecs_benchmarks_cdn_gpu.sh
Owners: @bfish713

sa
  crates/orchestrator/src/client.rs
  crates/orchestrator/src/lib.rs
Owners: @bfish713

s
  crates/orchestrator/run-config.toml
  crates/orchestrator/src/lib.rs
Owners: @bfish713

s
  crates/orchestrator/run-config.toml
  crates/orchestrator/src/lib.rs
Owners: @bfish713

s
  crates/orchestrator/src/lib.rs
Owners: @bfish713

s
  crates/orchestrator/src/lib.rs
Owners: @bfish713

more granularity of latency
  crates/examples/infra/mod.rs
  crates/orchestrator/src/client.rs
  crates/orchestrator/src/lib.rs
Owners: @bfish713

s
  crates/orchestrator/src/lib.rs
Owners: @bfish713

s
  crates/orchestrator/src/lib.rs
Owners: @bfish713

s
  scripts/benchmark_scripts/aws_ecs_benchmarks_cdn.sh
Owners: @bfish713

s
  scripts/benchmark_scripts/aws_ecs_benchmarks_cdn.sh
Owners: @bfish713

Bump HS version
  Cargo.lock
  Cargo.toml
Owners: @ss-es

add Versions struct
  crates/types/src/simple_certificate.rs
Owners: @bfish713

[AUDIT][LOW][CX_HARDENING] - Add Bespoke Tests For VoteDependencyHandle (#3517)
  Cargo.lock
  crates/hotshot/src/types/handle.rs
  crates/task-impls/src/quorum_vote/mod.rs
  crates/testing/Cargo.toml
  crates/testing/src/test_runner.rs
  crates/testing/tests/tests_1/quorum_vote_task.rs
  crates/testing/tests/tests_1/vote_dependency_handle.rs
Owners: @ss-es, @bfish713

Add `MarketplaceConfig` to `SystemContext::new/init` (#3529)
  Cargo.lock
  crates/examples/Cargo.toml
  crates/examples/infra/mod.rs
  crates/hotshot/Cargo.toml
  crates/hotshot/src/lib.rs
  crates/hotshot/src/tasks/mod.rs
  crates/hotshot/src/tasks/task_state.rs
  crates/task-impls/Cargo.toml
  crates/task-impls/src/transactions.rs
  crates/testing/src/helpers.rs
  crates/testing/src/spinning_task.rs
  crates/testing/src/test_builder.rs
  crates/testing/src/test_launcher.rs
  crates/testing/src/test_runner.rs
  crates/testing/tests/tests_1/transaction_task.rs
Owners: @ss-es, @bfish713

can I commit?
  crates/example-types/src/block_types.rs
  crates/examples/infra/mod.rs
  crates/orchestrator/src/client.rs
  crates/orchestrator/src/lib.rs
Owners: @bfish713

Tj/typos and ordering (#3524)
  crates/task-impls/src/events.rs
  crates/task-impls/src/lib.rs
  crates/task-impls/src/quorum_proposal/handlers.rs
  crates/task-impls/src/quorum_proposal/mod.rs
  crates/task-impls/src/quorum_vote/mod.rs
  crates/task-impls/src/request.rs
  crates/task-impls/src/response.rs
  crates/task-impls/src/transactions.rs
  crates/task-impls/src/upgrade.rs
  crates/task-impls/src/vid.rs
  crates/task-impls/src/vote_collection.rs
Owners: @bfish713

fix
  crates/testing/src/spinning_task.rs
Owners: @bfish713

Fix build errors (#3533)
  crates/testing/src/spinning_task.rs
Owners: @bfish713

ensure all the views we expect to fail actually fail
  crates/testing/src/overall_safety_task.rs
  crates/testing/src/test_builder.rs
  crates/testing/tests/tests_1/test_with_failures_2.rs
Owners: @bfish713

remove debug log
  crates/testing/src/overall_safety_task.rs
Owners: @bfish713

fix test
  crates/testing/tests/tests_1/test_with_failures_2.rs
Owners: @bfish713

Add Byzantine Test where we have a dishonest leader (#3516)
  crates/hotshot/src/tasks/mod.rs
  crates/testing/src/consistency_task.rs
  crates/testing/src/overall_safety_task.rs
  crates/testing/src/test_builder.rs
  crates/testing/tests/tests_1/test_with_failures_2.rs
Owners: @bfish713

remove double view update from sync task
  crates/task-impls/src/view_sync.rs
  crates/testing/tests/tests_1/test_with_failures_2.rs
Owners: @bfish713

add expected views to fail, and set the threshold for how many nodes enter view sync
  crates/testing/tests/tests_1/test_with_failures_2.rs
Owners: @bfish713
